<div>
    <h1>{{pageName()}}</h1>
    <br />
    <div style="padding-bottom: 10px">
        <button type="button" class="btn btn-primary button" title="Create new Expense Group."> Create New <i class="fa fa-plus-square" aria-hidden="true"></i> </button>
    </div>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Is Active</th>
            <th>Creation Date</th>
            <th>Last Update Date</th>
            <th>Action</th>
        </tr>

        <tr>
            <td>1</td>
            <td>Funn</td>
            <td>True</td>
            <td>05/10/2016</td>
            <td>05/10/2016</td>
            <td>
                <button type="button" class="btn btn-primary button">
                    Edit
                    <i class="fa fa-pencil"></i>
                </button>
                <button type="button" class="btn btn-primary button">
                    Delete
                    <i class="fa fa-times"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Cunit</td>
            <td>True</td>
            <td>05/10/2016</td>
            <td>05/10/2016</td>
            <td>
                <button type="button" class="btn btn-primary button">
                    Edit
                    <i class="fa fa-pencil"></i>
                </button>
                <button type="button" class="btn btn-primary button">
                    Delete
                    <i class="fa fa-times"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>Work Lunch</td>
            <td>True</td>
            <td>05/10/2016</td>
            <td>05/10/2016</td>
            <td>
                <button type="button" class="btn btn-primary button">
                    Edit
                    <i class="fa fa-pencil"></i>
                </button>
                <button type="button" class="btn btn-primary button">
                    Delete
                    <i class="fa fa-times"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>Taxis</td>
            <td>Home</td>
            <td>True</td>
            <td>05/10/2016</td>
            <td>05/10/2016</td>
            <td>
                <button type="button" class="btn btn-primary button">
                    Edit
                    <i class="fa fa-pencil"></i>
                </button>
                <button type="button" class="btn btn-primary button">
                    Delete
                    <i class="fa fa-times"></i>
                </button>
            </td>
        </tr>
    </table>
</div>
