<div class="posts">
    <!-- Each entry should be enclosed inside div with the class "entry" -->
    <div class="entry padd-zero">
        <div class="padd">
            <!-- Page title -->
            <h2>Edit Expense Group {{expenseGroupToEdit.Name}}</h2>

            <!-- Form Body -->
            <div class="co-form">
                <form class="form-horizontal" ng-submit="editExpenseGroup()">
                    <fieldset>
                        <div class="form-group">
                            <label class="control-label col-md-3">Name: </label>
                            <div class="col-md-4">
                                <input ng-model="expenseGroupToEdit.name" type="text" class="form-control textInput">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Active</label>
                            <div class="col-md-4">
                                <input ng-model="expenseGroupToEdit.active" type="checkbox">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-info">Save</button> &nbsp;
                                <button ng-click="cancelEdit()" type="reset" class="btn btn-default">Cancel</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
