<div>
    <div>{{vm.message2}}</div>
    <div class="mainImageContainer">
        <!--<div>-->
            <h1>Money Evolution</h1>
            <img class="mainImage" src="../../../Content/img/lineReportExample.jpg" />
        <!--</div>-->
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>House Money Evolution</h2>
            <img class="exampleImages" src="../../../Content/img/pieChartExample.png" /> 
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Cunit Money Evolution</h2>
            <img class="exampleImages" src="../../../Content/img/barChartExample.png" />
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Another Report</h2>
            <img class="exampleImages" src="../../../Content/img/areaChartExample.jpg" />
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
        </div>
    </div>
</div>
