/* Blue Color */

th {
    background-color: #0072c6;
    color: white;
    opacity: 0.80
}

td:hover {
    cursor: pointer;
}

tr:hover {
    background-color: #F6F6F6;
}

a, a:visited{
color:#0072c6;
text-decoration:none;
}

a:hover{
color:#0072c6;
text-decoration:underline;
}

.fixedbar{
background:#0072c6;
}

.ddsubmenustyle, .ddsubmenustyle div{
border:1px solid #0060a6 !important;
}

.ddsubmenustyle li a{
background:#0072c6 !important;
border-bottom:1px solid #0060a6 !important;
}

.ddsubmenustyle li a:hover{
background:#0060a6 !important;
}

.mattblackmenu ul{
background:#0072c6 !important;
}

.mattblackmenu li a{
background:#0072c6 !important;
}

.mattblackmenu li a:hover{
background:#0060a6 !important;
}

.main blockquote{
background:url('../img/quote-blue.png') top left no-repeat;
}

.entry li i { color: #0072c6; }

.default-header hr{ border-top: 5px solid #0072c6; }

.service-item {
    background-color: #F5F5F5;
    border-radius: 5px;
    color:black;
}

    .service-item:hover {
        background-color: #eee;
        cursor: pointer;
    }

.service-item h3 {
    background-color: #0072c6; 
    color: white;
    border-radius: 3px;
}

.foot{
    background:#0072c6;
}

.foot a, .foot a:visited{
color:#c2e5ff;
}

.foot a:hover{
color:#c2e5ff;
}

.content {
    border-radius: 10px;
}

.button {
    min-width: 60px;
    height: 25px;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
    color: white;
}

.checkActive {
    color: forestgreen;
}

.circleInactive {
    color: red;
}

.errorMessage {
    color: red;
    background-color: antiquewhite;
    text-align: center;
    border-radius: 3px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.exampleImages {
    width: 250px;
    height: 250px;
}

.mainImageContainer {
    background-color: #eee;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 15px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 8px;
}

    .mainImageContainer h1 {
        color: darkslategray;
    }

.mainImage {
    width: 650px;
    height: 350px;
}

.addButton a {
    color:white;
    margin-left: 15px;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 5px;
    margin-bottom: auto;

}

.textInput {
    width: 200px;
    height: 30px;
}